body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.boton{
    background-color:#2e465d !important;
    border: 1px solid #226597 !important;
    color: white !important;
}
.boton:hover{
    background-color: #293f56 !important;
    transition: 300ms !important;
}
