<div class="container-fluid">


  <header class="row">

    <h1 class="titulo col-xs-12 col-md-6 col-xl-4"><img class="logo" src="../assets/images/logo.png" alt=""></h1>

    <ul class="col-xs-12 col-md-6 col-xl-7 nav justify-content-end menu">
      <li class="nav-item">
        <a class="nav-link " [routerLink]="['/inicio']" [routerLinkActive]="'active'">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " [routerLink]="['/filtros']" [routerLinkActive]="'active'">Buscador</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " [routerLink]="['/ranking']" [routerLinkActive]="'active'">Ranking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " [routerLink]="['/login']" [routerLinkActive]="'active'">Login</a>
      </li>
      <li class="nav-item">
        <a [ngClass]="{'nav-link': true, 'disabled':!gasService.estadoLogin()}" [routerLink]="['/zona_usuarios']"
          [routerLinkActive]="'active'">Zona Usuarios</a>
      </li>

    </ul>

  </header>

  <router-outlet></router-outlet>

</div>
<footer class="mt-4">
  <div>
    <h6>Fuente: Datos del Ministerio para la Transición Ecológica.</h6>
    <p>La información publicada en este sitio web tiene únicamente carácter informativo y no constituye una
      comunicación de actos administrativos ni comunicados oficiales.</p>
  </div>
</footer>
