*{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    box-sizing: border-box;
}
hr{
    background-color:#293f56;
}
h1{
    font-size: 65px;
    font-weight: bolder;
    color: #293f56;
}
header {
    text-align: center;
}
.active{
    font-size: 20px;
    color: black !important;
}
header a{
    text-transform: uppercase;
    margin-left: 10px;
    text-align: center;
    color: white;
    height: 70px;
}
header a:hover{
    height:70px;
    color:white;
    color:  #293f56;
    border-bottom: 7px solid #293f56;
    transition: 350ms;
}
header .activa{
    font-weight: bolder;  
}
footer{   
    color: white;
    padding: 20px; 
    background-color: #1b89ac;
    border-bottom: 1px solid black;
    text-align: center;
}
header .menu{
    padding-top: 20px;
}
header{
    border-bottom: 1px solid #293f56;
    margin-bottom: 30px;
    background-color: #1b89ac;
}
header .logo{
    width: 110px;
    height: auto;
}








































































/* header {
    background-color: darkgray;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
}
.login, .registro{
    text-align: right;
    background-color:lightgray;
    border: 1px solid black;   
}
header a{
    text-align: center;
    color: black;
    height: 100%;
   
}
header a:hover{
    background-color: grey;
}
nav{
    background-color: darkgrey;
    width: 20%;
    
}
nav a{
    border-bottom: 1px solid black;
    text-align: center;
    color: black;
    height: 25%;
    padding-top: 55px;
    font-size: 1.5rem;
}
nav a:hover{
    background-color: grey;
}
header .activa{
    font-size: 20px;
    font-weight: bolder;
    background-color: grey;
}
footer{
    background-color: darkgray;
    border-bottom: 1px solid black;
    text-align: center;
} */
