<div class="container-fluid">


  <header class="row">

    <h1 class="titulo col-4">Ga$oFy</h1>

    <ul class="col-7 nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/inicio']" [routerLinkActive]="'activa'">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/filtros']" [routerLinkActive]="'activa'">Buscador</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/ranking']" [routerLinkActive]="'activa'">Ranking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/login']" [routerLinkActive]="'activa'">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Zona Usuarios</a>
      </li>

    </ul>

  </header>

    <hr>

  <router-outlet></router-outlet>
  <hr>
  <footer class="mt-5">
    <div class="col-10 offset-1">
      <h6>Fuente: Datos del Ministerio para la Transición Ecológica.</h6>
      <p>La información publicada en este sitio web tiene únicamente carácter informativo y no constituye una
        comunicación de actos administrativos ni comunicados oficiales.</p>
    </div>
  </footer>
</div>



















































<!-- 
<div class="container-fluid">


  <header class="row">
    <div class="titulo col-10">
      <h1>Elige el precio de tu gasolina</h1>
    </div>
    <div class="login cols-1">
      <a class="nav-link active" [routerLink]="['/login']">Log in</a>
    </div>
  </header>


  <div class="row">
    <nav class="nav flex-column col-2">
      <a class="nav-link " [routerLink]="['/inicio']" [routerLinkActive]="'active'">Inicio</a>
      <a class="nav-link " [routerLink]="['/filtros']" [routerLinkActive]="'active'">Buscador</a>
      <a class="nav-link " [routerLink]="['/ranking']" [routerLinkActive]="'active'">Ranking</a>
      <a [ngClass]="{'nav-link': true, 'disabled':!gasService.estadoLogin()}" [routerLink]="['/zona_usuarios']" [routerLinkActive]="'active'">Zona Usuarios</a>
    </nav>

    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="row">
    <footer class="col-12">

      <h6>Fuente: Datos del Ministerio para la Transición Ecológica.</h6>
      <p>La información publicada en este sitio web tiene únicamente carácter informativo y no constituye una
        comunicación de actos administrativos ni comunicados oficiales.</p>
    </footer>
  </div>

</div>  -->
