.container-fluid{
    background-color: #1b89ac;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    box-sizing: border-box;
}
hr{
    background-color:#293f56;
}
h1{
    font-size: 65px;
    font-weight: bolder;
    color: #293f56;
}
header {
    text-align: center;
    font-weight: bold;
    padding: 50px;
}

header a{
    margin-left: 10px;
    text-align: center;
    border: 2px solid #174144;;
    border-radius: 35px;
    background-color: #87c0cd;
    color: black;
}
header a:hover{
    color:white;
    background-color: #293f56;
    transition: 350ms;
}
nav{
  
    width: 20%;
    height: 500px;
}
nav a{
    border-bottom: 1px solid rgb(32, 10, 10);
    text-align: center;
    color: black;
    height: 33%;
    padding-top: 55px;
    font-size: 1.5rem;
}
nav a:hover{
    background-color: grey;
}
header .activa{
    font-size: 20px;
    font-weight: bolder;
    
}
footer{
  
    border-bottom: 1px solid black;
    text-align: center;
}






































































/* header {
    background-color: darkgray;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
}
.login, .registro{
    text-align: right;
    background-color:lightgray;
    border: 1px solid black;   
}
header a{
    text-align: center;
    color: black;
    height: 100%;
   
}
header a:hover{
    background-color: grey;
}
nav{
    background-color: darkgrey;
    width: 20%;
    
}
nav a{
    border-bottom: 1px solid black;
    text-align: center;
    color: black;
    height: 25%;
    padding-top: 55px;
    font-size: 1.5rem;
}
nav a:hover{
    background-color: grey;
}
header .activa{
    font-size: 20px;
    font-weight: bolder;
    background-color: grey;
}
footer{
    background-color: darkgray;
    border-bottom: 1px solid black;
    text-align: center;
} */
