.boton{
    background-color: #87c0cd;
    border: 1px solid #226597;
}
.boton:hover{
    background-color: #293f56;
    transition: 300ms;
}
hr{
    background-color:#293f56;
}
.titulo{
    text-align: center;
}

