<div class="container">
  <h3>Edita tu perfil</h3>

  <form  novalidate
  [formGroup]="formEdita" 
  (ngSubmit)="handleEditaUsuario()">

      <div class="form-group">
        <label for="nombre">Usuario</label>
        <input type="text" name="nombre" value = {{dataUsuarioEdit.nombre}} class="form-control">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email"  name="email" value="{{dataUsuarioEdit.email}}" class="form-control">
        <p *ngIf="formEdita.controls.email.errors?.required && formEdita.controls.email.dirty">El campo email es requerido</p>
        <p *ngIf="formEdita.controls['email'].errors?.pattern && formEdita.controls['email'].dirty">El campo debe ser un mail correcto</p>
      </div>

      <button type="submit" [ngClass]="{'button-disable': formEdita.invalid}" [disabled]="formEdita.invalid"  class="btn btn-primary mb-3">Enviar</button>
     
  </form>
</div>
