<div class="container">
  <h2 class="titulo">Edita tu perfil</h2>
  <h5 *ngIf="actualizado">Datos del usuario actualizados</h5>
  <form novalidate [formGroup]="formEdita" (ngSubmit)="handleEditaUsuario()" *ngIf="formEdita">

    <div class="col-6 offset-3">
      <div class="form-group">
        <label for="nombre">Usuario</label>
        <input type="text" name="nombre" class="form-control boton" formControlName="nombre">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control boton" formControlName="email">
      </div>

      <button type="submit" class="btn btn-primary mb-3 mt-3 boton col-2 offset-5">Editar</button>
    </div>
  </form>
</div>
