<div class="container">
  <div class="row">
    <h4 class="mb-5 col-11">Para poder mostrarte las gasolineras más próximas a tu posición sigue los siguientes pasos:</h4>
    <button (click)="logOut()" class="btn btn-primary col-1">Salir</button>
  </div>
  <div class="row">

    <div class="col-6">
      <p>1º Pulsa el botón localización para poder acceder a tu posición.</p>

      <button (click)="activarLocalizacion()" class="btn btn-outline-primary col-3 offset-4">Localización</button>

      <p>2º Introduce un radio en metros para limitar la busqueda.</p>
      <div class="input-group col-6 offset-3">
        <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2"
          [(ngModel)]="ngRadio">
        <div class="input-group-append">
          <button (click)="cambiarRadio()" class="btn btn-outline-primary" type="button">Radio</button>
        </div>
      </div>

      <p>3º Selecciona tu tipo de combustible.</p>
      <select (change)="filtrarPrecio()" [(ngModel)]="tipo" class="form-control col-3">
        <option value="precio_biodiesel">Biodiesel</option>
        <option value="precio_bioetanol">Bioetanol</option>
        <option value="precio_gas_natural_comprimido">GNC</option>
        <option value="precio_gas_natural_licuado">Gas natural licuado</option>
        <option value="precio_gases_licuados_petroleo">GLP</option>
        <option value="precio_gasoleo_a">Gasoleo_A</option>
        <option value="precio_gasoleo_b">Gasoleo_B</option>
        <option value="precio_gasolina_95_proteccion">Gasolina_95_ Protección</option>
        <option value="precio_gasolina_98">Gasolina_98</option>
        <option value="precio_nuevo_gasoleo-a">Nuevo_Gasoleo_A</option>
      </select>


    </div>
    <div #googleMap style="width: 500px; height: 400px" class="col-6"></div>
  </div>

 
  <div class="row">
    <div *ngFor="let item of arrFiltrado" class="card col-4">
      <div class="card-header">
        {{item.rotulo}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{item.direccion}}</h5>
        <p>{{item.provincia}}</p>
        <p class="card-text"></p>

        <div class="list-group">
          <div class="list-group-item" *ngIf="item.precio_biodiesel">
             Precio biodiesel: {{item.precio_biodiesel}}
          </div>
          <div class="list-group-item" *ngIf="item.precio_bioetanol">
            Precio bioetanol: {{item.precio_bioetanol}}
          </div>
          <div class="list-group-item" *ngIf="item.precio_gas_natural_comprimido">
            Precio GNC:
            {{item.precio_gas_natural_comprimido}}
          </div>
          <div class="list-group-item" *ngIf="item.precio_gas_natural_licuado">
            Precio GNL:
            {{item.precio_gas_natural_licuado}}
          </div>
          <div class="list-group-item" *ngIf="item.precio_gases_licuados_petroleo"> 
            Precio GLP:
            {{item.precio_gases_licuados_petroleo}}
          </div>
          <div class="list-group-item" *ngIf="item.precio_gasoleo_a">
            Precio gasoleo-A: {{item.precio_gasoleo_a}}
          </div>
          <div class="list-group-item" *ngIf="item.precio_gasoleo_b">
            Precio gasoleo-B: {{item.precio_gasoleo_b}}
          </div>
          <div class="list-group-item" *ngIf="item.precio_gasolina_95_proteccion">
            Precio gasolina-95:
            {{item.precio_gasolina_95_proteccion}}
          </div>
          <div class="list-group-item" *ngIf="item.precio_gasolina_98">
            Precio gasolina-98: {{item.precio_gasolina_98}}
          </div>
          <div class="list-group-item" *ngIf="item.precio_nuevo_gasoleo_a">
            Precio nuevo gasoleo-A:
            {{item.precio_nuevo_gasoleo_a}}
          </div>
        </div>
        <a (click)="generateRoute(item.latitud, item.longitud)" class="btn btn-primary">Como llegar</a>
      </div>
    </div>
  </div>
  <div *ngIf="biodiesel"> precio biodiesel: {{biodiesel}}</div>
  <div *ngIf="bioetanol"> precio bioetanol: {{bioetanol}}</div>
  <div *ngIf="gnc"> precio GNC: {{gnc}}</div>
  <div *ngIf="gnl"> precio GNL: {{gnl}}</div>
  <div *ngIf="glp"> precio GLP: {{glp}}</div>
  <div *ngIf="gasoleo_a"> precio gasoleo-A: {{gasoleo_a}}</div>
  <div *ngIf="gasoleo_b"> precio gasoleo-B: {{gasoleo_b}}</div>
  <div *ngIf="gasolina_95"> precio gasolina-95: {{gasolina_95}}</div>
  <div *ngIf="gasolina_98"> precio gasolina-98: {{gasolina_98}}</div>
  <div *ngIf="nuevo_gasoleo_a"> precio nuevo gasoleo-A: {{nuevo_gasoleo_a}}</div>


</div>

