.boton{
    background-color: #87c0cd;
    border: 1px solid #226597;
    color: white;
}
.boton:hover{
    background-color: #293f56;
    transition: 300ms;
}
.titulo{
    text-align: center;
}
.box-gas{
    background-color: #87c0cd;
    border: 1px solid #226597;
    border-radius: 5px;
}
.box-gas p{
    border: 1px solid #226597;
    border-radius: 5px;
    line-height: 25px;
    padding: 5px;
}
.box-gas h4{
    padding: 10px;
    background-color: #293f56;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
}
.box-gas{
    background-color: #87c0cd;
    border: 10px solid#1b89ac;
    border-radius: 15px;
}
.iconOK{
    color: tomato;
    cursor: pointer;
}

.iconKO{
    cursor: pointer;
    color: black;
}
.iconKO:hover{
    color: tomato;
    transition: 300ms;
}


