.grafico img {
  width: 100%;
  height: auto;
}

h5 {
  text-align: center;
  margin-bottom: 15px;
}

.home-text {
  margin: auto;
}

.tit-acord {
  font-weight: 400;
  text-decoration: underline;
  color: white;
}

span {
  font-size: 10px;
}

hr {
  background-color: #293f56;
}

.consejos .card-body {
  background-color: #eee;
}
