.grafico img{
    width: 100%;
    height: auto;
}
 h5{
    text-align: center; 
    margin-bottom: 15px;
}
.home-text{
    margin: auto;
}
.tit-acord{
    font-weight: 400;
    text-decoration: underline;
    color: black;
}
span{
    font-size: 10px;
}

hr{
    background-color:#293f56;
}
.container{
    display: hidden;
}
.consejos .card-header{
    background-color: #87c0cd;
   
}

.consejos .tit-acord{
    font-weight: bold;
    text-decoration: none;
}

.consejos .card-body{
    background-color: #eee;
}

    


