<div class="container">



  <h2>Utilizando Ga$ofy tendrás la posibilidad de elegir el precio más barato de tu carburante cada vez que
    repostes. </h2>
  <hr>
  <div class="row">
    <div class="col-6 home-text">

      <p class="mt-5">Las diferencias de precios en España de gasolina y gasóleo llegan a superar los 30 céntimos por
        litro en
        función de la gasolinera escogida. Los datos del Ministerio para la Transición Ecológica, que se actualizan
        constantemente, evidencian las elevadas disparidades de tarifas que aplican las petroleras y las distribuidoras
        independientes en función del nivel de competencia geográfica de sus establecimientos y sus costes
        estructurales. En la práctica, los conductores pueden ahorrarse el 20% si eligen bien la gasolinera a 15
        kilómetros a la redonda, lo que equivale a unos 12 euros por depósito de media. </p>
    </div>
    <div class="col-6 grafico">
      <h5>Factores que afectan al precio del Petróleo</h5>
      <img src="./../../assets/images/grafico-1.jpg" alt="Grafico precio carburantes">
    </div>
  </div>







  <div class="row mt-5">


    <div class="col-10 offset-1">
      <h5>Consejos para reducir el consumo de combustible</h5>
      <div class="accordion" id="accordionExample">
        <div class="card consejos">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link tit-acord" type="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <h6>#1 Conduce más despacio... <span>(Leer más)</span> </h6>
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              La velocidad es enemiga del consumo. Cuanto más rápido circules, más combustible gastará tu coche. Menuda
              obviedad, estaréis pensando. En efecto, pero quizá no sepas que circular a 140 km/h incrementa el consumo
              en un 30% con respecto a circular a 120 km/h. Un diferencial de consumos que aumenta de forma exponencial
              a la velocidad, no de forma directa. En un viaje por autopista de una hora, solo ganarás 5 minutos por
              haber circulado a 130 km/h, y habrás gastado hasta un euro más. Piensa en el efecto acumulativo en miles
              y miles de kilómetros.
            </div>
          </div>
        </div>
        <div class="card consejos">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed tit-acord" type="button" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
                <h6>#2 El freno motor es tu mejor amigo, Úsalo!!... <span>(Leer más)</span></h6>
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              Cuando usamos la retención del motor, la mecánica no inyecta un solo mililitro de combustible, aunque el
              cuentavueltas supere las 5.000 rpm. Es especialmente importante en bajadas prolongadas, así como en
              conducción por carreteras secundarias. Otro ejemplo: en vez de frenar con fuerza antes de entrar en una
              zona urbana, deja que el coche se vaya poco a poco frenando: no gastarás nada de combustible y llegarás a
              la señal de 50 km/h a la velocidad adecuada.
            </div>
          </div>
        </div>
        <div class="card consejos">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed tit-acord" type="button" data-toggle="collapse" data-target="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree">
                <h6>#3 No descuides el mantenimiento de la mecánica... <span>(Leer más)</span></h6>
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              El filtro de aire no es el único elemento de tu mecánica que necesita ser vigilado. No conviene descuidar
              el estado de las bujías, los filtros de combustible – especialmente en coches alimentados por gasóleo – y
              realizar los cambios de aceite cuando el fabricante lo recomienda. Un aceite limpio y reluciente siempre
              es más beneficioso para tu motor que un aceite que tendría que haberse cambiado hace 5.000 km, sucio y
              cargado de residuos de la combustión. Solo si la salud de tu motor es óptima lograrás que te ofrezca los
              mejores consumos y prestaciones.
            </div>
          </div>
        </div>
        <div class="card consejos">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed tit-acord" type="button" data-toggle="collapse" data-target="#collapseFour"
                aria-expanded="false" aria-controls="collapseFour">
                <h6>#4 Cambia de marcha a bajas revoluciones... <span>(Leer más)</span></h6>
              </button>
            </h2>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              Optimiza al máximo el cambio de marchas. Circula el mayor tiempo posible en las relaciones más largas y a
              bajas revoluciones (en la ciudad, siempre que sea posible, utilizar la 4ª o 5ª marcha, respetando los
              límites de velocidad).

              Sobre el papel, el par motor de un coche diésel aconseja cambiar de marcha entre las 1.500 y 2.500 rpm.
              En caso de los gasolina el momento óptimo se sitúa entre 2.000 y 2.500 rpm. Si tu coche no dispone de
              cuentarrevoluciones, la velocidad puede servir de referencia. Así, insertaremos la tercera velocidad a
              partir de 30 km/h, la cuarta cuando alcancemos los 40 km/h, la quinta al circular a 50 km/h y la sexta
              velocidad, en caso de que el coche la tenga, a partir de los 60 km/h
            </div>
          </div>
        </div>

        <div class="card consejos">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed tit-acord" type="button" data-toggle="collapse"
                data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <h6>#5 Usa neumáticos de baja resistencia a la rodadura... <span>(Leer más)</span></h6>
              </button>
            </h2>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              Si tu coche es deportivo o circulas habitualmente a ritmos ágiles, nadie va a negar que un compuesto
              deportivo es tu mejor aliado. No obstante, si quieres minimizar el consumo de tu coche, equípalo con
              neumáticos de baja resistencia a la rodadura. Puedes conocer su eficiencia en su etiquetado: un C o una B
              ya ofrecen un nivel de fricción bajo. Con estos neumáticos no lograrás reducir en un litro el consumo a
              los 100 km de tu coche, pero puede que sí en un par de décimas. Además, suelen tener una durabilidad
              superior a la media.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
