<div>
  <h3>{{titulo}}</h3>
 
    <div *ngFor="let item of arrTopRanking" class="card ">

      <div class="card-header">
        {{item.rotulo}}
      </div>

      <div class="card-body">
        
        <h6 class="card-title">Provincia: {{item.provincia}}  </h6>
        <p class="card-text">Dirección: {{item.direccion}} </p>
        
        <div class="list-group">
          <div class="list-group-item" *ngIf="item[tipoHijo]">
            <p>Precio {{titulo}}: {{item[tipoHijo]}}</p>
          </div>
          <!-- <a class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>

 


</div>
