<div>
  <h3 class="titulo">{{titulo}}</h3>
 
     <!-- <div *ngFor="let item of arrTopRanking" class="card ">

      <div class="card-header">
        {{item.rotulo}}
      </div>
      <div class="card-body">
        <h6 class="card-title">Provincia: {{item.provincia}}  </h6>
        <p class="card-text">Dirección: {{item.direccion}} </p>    
        <div class="list-group">
          <div class="list-group-item" *ngIf="item[tipoHijo]">
            <p>Precio {{titulo}}: {{item[tipoHijo]}}</p>
          </div>
          <a class="btn btn-primary">Go somewhere</a> 
        </div>
      </div>
    </div>  -->






    <div class="row container-gas">
        <div *ngFor="let item of arrTopRanking" class="box-gas col-12">
          <h4> {{item.rotulo}}</h4>
          <h5>Provincia: {{item.provincia}}</h5>
          <h6>Dirección: {{item.direccion}}</h6>
          <p *ngIf="item.precio_biodiesel"> Precio {{titulo}} = {{item[tipoHijo]}} €</p>
          
        </div>
      </div>

 


</div>
